<md-button class="md-raised md-warn" ng-click="modalActive = true">open popup</md-button>

<div class="modalWrapper" ng-show="modalActive"  >
    <div class="modalWindow" >
        <div class="modalHeader">
            {{header}}
        </div>
        <div class="modalBtns">
            <md-button class="md-fab md-mini" aria-label="Close modal" ng-click="modalActive = false">
                <md-icon md-svg-src="img/icons/delete-white.svg"></md-icon>
            </md-button>
        </div>
        <div class="modalContent">
            <ng-transclude>
        </div>
    </div>
</div>

<style>
.modalWrapper {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 11111;
}

.modalWindow {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 600px;
    transform: translateY(-50%) translateX(-50%);
    padding: 15px;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
}

.modalHeader {
    width: 80%;
}

.modalBtns {
    width: 20%;
}

.modalContent {
    width: 100%;
}

.modalContent img {
    width: 100%;
    height: auto;
}
</style>